config*.json
w3.4dbase/Components
w3.4dbase/vc_data
w3.4dbase/vc_methods/Debug.txt
w3.4dbase/w3.4DD
w3.4dbase/w3.4DIndy
w3.4dbase/w3.journal
w3.4dbase/w3.Match
w3.4dbase alias
w3.4dbase/Logs/
w3.4dbase/Preferences/BuildApp
w3.4dbase/Resources/cache/
Backup.xml
*.4BK
